body {
  background-color: black;
}

canvas {
  background-color: grey !important;
}

.bubble-tool {
  display: flex;
  flex-wrap: wrap;
}

.col-left {
  flex: 2;
  min-width: 300px;
  margin: 10px;
  overflow-x: hidden;
}

.col-right {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  overflow-x: hidden;
}

.output {
  padding: 10px;
  padding-right: 30px;
  margin-top: 20px;
  background-color: rgb(200, 200, 255);
  width: fit-content;
  border-radius: 5px;
  border: 1px solid grey;
}

.output pre {
  margin: 0;
  font-size: 16px;
}

.highlighted {
  margin: 0;
  color: red;
}
